<!doctype html>
<html lang="en">
  <head>
    <title>Profile</title>
    <meta charset="utf-8">
    <link href = "/profile.css" rel="stylesheet">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body style="background-color:#5cb1d8 ;">
    <%-include('navbar.ejs')%>
    <div class="container">
        <div style="padding-left:500px">
        <div class="jumbotron" style="background-color:#ffb700;">
        <h2 style="text-align:center">Hello <%=profile.Username%>!</h2>
        <h2 style="text-align:center">Your Email: <%=profile.Email%></h2>
        <h3 style="text-align:center">Welcome to your profile, here you can see the opportunities recommended for you! You can delete any suggestions you may not be interested in as well.</h3>
        <form style="text-align:center" action="/button/all" method="POST">
            <button style="text-align:center" class="btn btn-danger">Delete All Opportunities</button>
        </form>
        <br>
        <form style="text-align:center" action="/logout" method="GET">
            <button style="text-align:center" class="btn btn-danger">Log out</button>
        </form>
    </div>
    </div>

    <div style="padding-left: 500px">
    <% try{%>
        <%for(inside of profile.Interests){%>
        <div class="jumbotron card mt-5" style="background-color:#ffb700; padding-left: 200px;">
            <h3>General Information:</h3>
            <p><b>Name of Organization:</b> <%=inside.event_name%></p>
            <p><b>location:</b> <%=inside.location%></p>
            <p><b>Description of Organization:</b> <%=inside.event_desc%></p>
            <h3>Dates:</h3>
                <p>Start Dates: <%=inside.date%></p>
            <% if(inside.host_links.length >0){%>
                <h3>External Links:</h3>
                <a href="<%=inside.host_links%>"><%=inside.host_links%></a>
            <%}%>
            <form action="/button/<%=inside.event_name%>" method="POST">
            <button class="btn btn-danger">Delete Opportunities</button>
        </form>
        </div>
    <%}%>
    <%}catch(e){%>
    <%console.log(e)%>
    <div class="jumbotron card mt-5" style="background-color:#ffb700;">
        <h5 style="text-align: center;">If you just submitted your information, please wait a couple of seconds while we fetch it!</h5>
        <hr style="color: black;"></hr>
        <h5 style="text-align: center;">If you haven't submitted anything, you can find opportunities <a href="/find">here!</a></h5>
    </div>
    <% } %>
 </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
